@import "tailwindcss";

/* Shapes styles */
.shape-bl {
  clip-path: polygon(0 0%, 50% 0, 100% 100%, 0 100%);
  border-top-right-radius: 20px;
}

.shape-br {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
  border-top-left-radius: 20px;
}

.shape-tl {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
  border-bottom-right-radius: 20px;
}

.shape-tr {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  border-bottom-left-radius: 20px;
}

